html {
  scroll-behavior: smooth;
}

:root {
  --primary: #131224;
  --secondary: #c8da2d;
  --third: #f9f9f9;
}

/* --- RESET & BASIC STYLES --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--primary);
  line-height: 1.6;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* --- BUTTONS --- */
.btn {
  display: inline-block;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--secondary);
}

.btn-primary:hover {
  background-color: #a4b326;
  border-color: #555;
}

.btn-secondary {
  background-color: #e0e0e0;
  color: var(--primary);
  border: 2px solid #e0e0e0;
  margin-left: 10px;
}

.btn-secondary:hover {
  background-color: #ccc;
  border-color: #555;
}

/* --- HEADER & NAV --- */
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--third);
  padding: 10px 30px;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary);
}

nav ul li a:hover {
  color: var(--secondary);
}

.hamburger {
  display: none;
}

/* --- VARIASI TEMA NAVBAR --- */

#nav-container.nav-light {
  background-color: var(--third);
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

#nav-container.nav-dark {
  background-color: var(--primary);
  color: var(--third);
  border-bottom: 1px solid var(--third);
}
#nav-container.nav-dark .logo {
  color: var(--secondary);
}

#nav-container.nav-dark nav ul li a {
  color: var(--third);
}

#nav-container.nav-dark nav ul li a:hover {
  color: var(--secondary);
}
/* --- HERO SECTION --- */
.hero {
  padding: 60px 0;
  background: var(--primary);
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero-text h3 {
  font-size: 20px;
  color: var(--third);
  margin-bottom: 5px;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 5px;
  color: var(--third);
}

.hero-text .badge {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 6px 14px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
}

.hero-text p {
  color: var(--third);
  margin-bottom: 25px;
  max-width: 400px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.image-stage {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 260px;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: #888;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  object-fit: cover;
}

.back-box {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 20px;
  left: 20px;

  border-radius: 10px;
  border: 2px solid var(--secondary);
  z-index: 1;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.image-stage:hover .image-placeholder {
  transform: translate(-8px, -8px) scale(1.03);
}

.image-stage:hover .back-box {
  transform: translate(12px, 12px);
}

/* --- SECTION TITLES --- */
.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #333;
  margin: 8px auto 0;
}

/* --- WHAT I DO --- */
.what-i-do {
  padding: 60px 0;
  background: #f9f9f9;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-card {
  flex: 1 1 333px;
  max-width: 350px;
  /* border: 1px solid var(--primary); */
  padding: 20px;
  text-align: center;
  background: #fafafa;
  border-radius: 5px;
}

.service-card .image-placeholder {
  height: 200px;
  margin-bottom: 15px;
  object-fit: cover;
  border: 3px solid var(--primary);
}

.service-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-card p {
  font-size: 13px;
  color: #666;
}

/* --- ABOUT ME --- */
.about-me {
  padding: 60px 0;
  background: var(--primary);
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  align-items: center;
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--secondary);
}

.about-text p {
  color: var(--third);
  margin-bottom: 20px;
  font-size: 14px;
}

.about-list {
  list-style: none;
}

.about-list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--third);
}

.about-list li:first-child {
  font-size: 15px;
  font-weight: bold;
}

.about-list li:last-child {
  margin-left: 50px;
}

.logo-smk {
  width: 50px;
}

.about-me .image-stage .back-box {
  bottom: -20px;
  left: -20px;
}

.about-me .image-stage:hover .image-placeholder {
  transform: translate(8px, -8px) scale(1.03);
}

.about-me .image-stage:hover .back-box {
  transform: translate(-12px, 12px);
}

/* --- PORTFOLIO --- */
.portfolio {
  padding: 60px 0;
  background: #f9f9f9;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.portfolio-card {
  text-align: center;
}

.portfolio-card .image-placeholder {
  height: 250px;
  margin-bottom: 12px;
  object-fit: cover;
}

.portfolio-card .image-placeholder:hover {
  transform: scale(1.05);
}

.portfolio-card h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.center-btn {
  text-align: center;
  margin-top: 30px;
}

/* --- SKILLS --- */
.skills {
  padding: 60px 0;
  background: #fff;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  flex: 1 1 250px;
  max-width: 350px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  text-align: center;
  background: #fafafa;
}

.skill-logo {
  margin: 0 5px;
  width: 30px;
  height: 30px;
}

.skill-card i {
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}

.skill-card h4 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.skill-card p {
  font-size: 10px;
  color: #777;
  text-transform: uppercase;
  line-height: 1.4;
}

/* --- WORK EXPERIENCE --- */
.pengalaman {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.pengalaman-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--primary);
  background-color: var(--third);
  font-size: 10px;
  justify-content: center;
}

.pengalaman-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pengalaman-item ul {
  list-style-position: inside;
  padding: 0;
  margin-top: 15px;
}

.pengalaman-item h2 {
  text-align: center;
  font-size: 13px;
}

span {
  color: #888;
  font-size: 11px;
  font-style: italic;
}

/* --- FOOTER --- */
footer {
  background: var(--primary);
  padding: 40px 0 20px 0;
  border-top: 5px solid var(--secondary);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 30px;
}

.footer-left h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
  color: var(--third);
}

.footer-left .badge {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 4px 10px;
  font-size: 12px;
  margin-bottom: 15px;
}

.footer-left p {
  font-size: 11px;
  color: var(--third);
}

.footer-right ul {
  list-style: none;
}

.footer-right ul li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  color: var(--third);
}

.footer-right ul li i {
  width: 25px;
  font-size: 16px;
  margin-right: -25px;
}

.footer-right img {
  width: 20px;
  margin-right: 10px;
}

/* --- RESPONSIVE (MEDIA QUERIES) --- */
@media (max-width: 900px) {
  .services-grid,
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .hero-grid,
  .about-grid,
  .portfolio-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .nav-container {
    flex-direction: column;
    gap: 15px;
  }

  nav ul li {
    margin: 0 10px;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text p {
    margin: 0 auto 25px auto;
  }

  .about-text {
    order: -1;
  }

  .btn-secondary {
    margin-left: 0;
    margin-top: 10px;
  }

  .cta-banner .btn-secondary {
    margin-left: 10px;
    margin-top: 0;
  }

  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .hamburger {
    display: block;
    z-index: 1003;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 260px;
    height: 100vh;
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    transition: right 0.4s ease;
    z-index: 1001;
    left: auto;
    transform: none;
    transition: all 0.4s ease;
  }

  nav ul.active {
    right: 0;
    left: auto;
    transform: none;
  }

  #nav-container.nav-light nav ul {
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.08);
    background-color: var(--third);
    color: var(--primary);
  }

  #nav-container.nav-dark nav ul {
    box-shadow: -10px 0 10px rgba(249, 249, 249, 0.08);
    background-color: var(--primary);
    color: var(--third);
  }

  #nav-container.nav-dark nav ul li a {
    color: var(--third);
  }

  .pengalaman-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-grid {
    gap: 30;
    text-align: center;
  }

  .footer-right ul {
    justify-items: center;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .services-grid,
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .cta-banner .btn {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }
}
